<html>
  <nav
    class="navbar navbar-expand-lg "
    style="color: #000000; background-color: #ffcc00"
  >
    <img src="/src/assets/cabecera.png" >

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href=""> Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">salir</a>
      </li>
    </ul>
  </nav>

  <div
    class="btn-group"
    style="
      background-color:  #000000;
      width: 15%;
      margin-left: 0%;
      height: 555px;
    "
  >
    <ul>
      <li>
        <div class="container" style="color :#FEFEFE">

        <a class="nav-link" href="" style="color: #FEFEFE"> RESERVA</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="color: #FEFEFE">HORARIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" style="color: #FEFEFE">HORARIOS</a>
      </li>
    </ul>
  </div>
  
</html>
