<!---<html>
  <body> 
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <img src="./cabecera.png" style="width: 10%; height: 10%">
            
          </nav>
    </div>

  <div class="vertical-menu" style="width: 200px; background-color: #ccc">
    <a href="#" class="active">Home</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>
</body>
</html>-->

<html>
    <body style="font-family: sans-serif; ;" >
       
		<div class="container-sm" style="width: 40%;margin-left: 30%; height: 50%; background-color: #000000b3; display: block; margin-top: 5%;padding: 0 20px;
        border-radius: 10px">
            <div>
                <img src="./cabecera.png" style="width: 90%; height: 90%">
                <div style="background-color: #ffcc00;width: 540px;border-radius: 5px; vertical-align: 0%; ">
                    <h3 >Inicio Sesion</h3>
                </div>
            </div>
		<div  style="margin-top: 5%; margin-left: 0%; width: 500px; ">
        
			<form>
                <div >
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario Institucional">
                  
                </div>
                <div style="margin-top: 5%;">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" >
                </div>
                <input tabindex="4" class="boton" name="login" id="kc-login" type="submit" value="Iniciar"  style="margin: auto; display: block; cursor: pointer; margin-top: 10%; padding: 10px 40px" >
                <div class="Olvido">
                    <a href="" target="_blank" style="color: #fff ; text-align: center;padding: 30px 0px ;display: block;">¿Olvidó su contraseña?</a>
                </div>
              </form>
		</div>
    </div>
	</body>
</html>