<html>

<body>
  <div>
    <div class="container-sm" style="width: 40%;margin-left: 30%; height: 50%; background-color: #000000a0; display: block; margin-top: 5%;padding: 0 20px;
        border-radius: 10px">
      <div>
        <img src="\src\assets\cabecera.png" width="50px" height="50px">
        <div style="background-color: #ffcc00;width: 510px;border-radius: 8px; vertical-align: 0%; ">
          <h3>Inicio Sesion</h3>
        </div>
      </div>
      <div style="margin-top: 5%; margin-left: 0%; width: 500px; ">

        <form>
          <div>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Usuario Institucional">

          </div>

          <div style="margin-top: 5%;">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
          </div>
          <a tabindex="4" class="fcc-btn" name="login" id="kc-login" type="submit" value="Iniciar"
            style="margin: auto; display: block; cursor: pointer; margin-top: 10%; padding: 10px 40px"
            href="../bienvenida/bienvenida.component.html">
          </a>
            <div class="Olvido">
         
          <a href="" target="_blank" style="color: #fff ; text-align: center;padding: 30px 0px ;display: block;">¿Olvidó
            su contraseña?</a>
      </div>
      </form>
    </div>
  </div>
  </div>


</body>


</html>