body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

body>div {
    height: 100%;
    width: 100%;
    background-image: url('/src/assets/uptc.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo{
    background-image: url('/src/assets/uptc.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.logo{
    background-image: url("/src/assets/cabecera.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}